<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
<style>
  body {
    margin: 0;
    overflow: hidden;
  }
</style>
<script>
    function getRandomImage() {
        fetch('/getRandomImage')
            .then(response => response.json())
            .then(data => {
                if (data.imagePath) {
                    document.querySelector('.main-image').src = data.imagePath;
                    document.querySelector('.blur-image').src = data.imagePath;
                }
            })
            .catch(error => console.error('Error fetching random image:', error));
    }

    setInterval(getRandomImage, {{ refresh_interval * 1000 }});
</script>
</head>
{% extends "bootstrap/base.html" %}
{% block title %}Pic Frame{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}
<body>

{% block content %}
<div class="image-container">
  <img loading="eager" src="{{ url_for('static', filename='images/' + imgs) }}" class="main-image" alt="Image">
  <img loading="eager" src="{{ url_for('static', filename='images/' + imgs) }}" class="blur-image" alt="Blurred Image">
</div>
{% endblock %}
</body>
</html>